doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
body
    include ../navbar.pug
    +navbar()
    include ../toast.pug
    +toast()
    .container
        .text-center.mb-4
            h3 Adicionar
            p.text-muted Preencha os dados abaixo
        .container.d-flex.justify-content-center
            form(action='/evento-cad' method='post' style='width: 50vw; min-width: 300px;' id='form')
                .row.mb-3
                    .col
                        label.form-label
                            | Nome Evento
                        input.form-control(type='text' name='nome' placeholder='Insira o nome')
                .row.mb-3
                    .col
                        label.form-label
                            | Data Início
                        input.form-control(type='datetime-local' name='dataInicio' placeholder='nome@exemplo.com')
                    .col
                        label.form-label
                            | Data Fim
                        input.form-control(type='datetime-local' name='dataFim' placeholder='11987654321')
                .row.mb-3
                    label.form-label
                        | Esporte
                    select.form-select(aria-label="Default select example" name='IdEsporte')
                        each esporte in esportes
                            option(value=esporte.IdEsporte)= esporte.NomeEsporte
                .d-flex.flex-row-reverse
                    button.btn.btn-success(type='submit' name='submit' id='submit') Adicionar 
                    p &nbsp;&nbsp;&nbsp;
                    a.btn.btn-danger(href='/atleta') Cancelar
    script(src='bootstrap/js/jquery-3.6.1.min.js')
    script(src='bootstrap/js/bootstrap.bundle.min.js')
    script(src='js/atletaCad.js')